@font-face {
    font-family: InBetween;
    src: url('/static/resources/AbrilFatface-Regular.ttf') format('truetype');
}

.title {
    align-items: center;
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    font-size: clamp(4vh, 6vh, 6vh);
}

.subtitle {
    font-size: clamp(30px, 3vw, 4vw);
    text-align: center;
    font-family: 'InBetween';
}

.titleLeft {
    opacity: 0;
    animation: leftSlide 2s ease-in 1s forwards;
}

.titleRight {
    opacity: 0;
    animation: rightSlide 2s ease-in 1s forwards;
}

p {
    display: inline-block;
    margin: 0.4vw;
}

body {
    transition: background-color 0.1s;
    background-color: rgb(188, 194, 242); 
}

.mainButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3vh;
    padding-bottom: 3vw;
    gap: 3vw;
}

h1 {
    display: inline-block;
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    font-size: clamp(20px, 10vw, 40px);
}

h2 {
    display: inline-block;
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    font-size: clamp(60px, 8vw, 80px);
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding: 10px;
}

input {
    font-size: clamp(30px, 4vw, 50px);
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); 
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    padding: 1vh;
}

.exInput {
        font-size: clamp(20px, 3vw, 40px);
        border-radius: clamp(50px, 6vw, 6vw);
        border-width: 5px;
        border-style: outset;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5); 
        transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        padding: 1vh;
}

.shoutout {
    font-size: 2vw;
    font-family: 'Arial';
    color: rgb(57, 57, 57);
}


.clue1 {
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    color:rgb(178, 60, 60);
    border-color:rgb(178, 60, 60);
    resize: none;
}

.clue2 {
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    color:rgb(72, 72, 205);
    border-color:rgb(72, 72, 205);
    resize: none;
}

.in_between {
    text-align: center;
    font-family: 'InBetween';
    font-weight: bold;
    color:rgb(195, 88, 195);
    border-color:rgb(195, 88, 195);
}

.parent {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

.times {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: clamp(10px, 2vw, 2vw);
}

.times .clue.leftSlide, .times .clue.rightSlide {
    display: flex;
    flex-direction: column;
    float: none;
}

.submit {
    font-size: clamp(30px, 3vw, 50px);
    color: black;
    font-family: 'InBetween';
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    background-color: rgb(255, 255, 255);
    border-color: rgb(184, 216, 186);
    padding: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.clues {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clue {
    width: clamp(300px, 30vw, 30vw);
    height: clamp(150px, 15vh, 15vh);
    border: 5px solid black;
    padding: 10px;
    font-family: 'InBetween';
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.plus {
    font-size: 100px;
    font-style: bold;
}

.correct {
    border-color: rgb(91, 255, 107);
    pointer-events: none;
    color: rgb(91, 255, 107);
    animation: glowing 1.5s infinite alternate;
}

.congrats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.rulesCard {
    border: 5px solid black;
    padding: 2vh 5vh;
    font-family: 'InBetween';
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    text-align: center;
}

.rulesText {
    font-size: clamp(20px, 3vw, 40px);
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Georgia';
}

.rulesText strong {
    display: inline;
}

.rulesHeading {
    font-size: clamp(30px, 4vw, 60px);
    font-weight: bold;
}

.exampleClue {
    width: clamp(250px, 25vw, 25vw);
    height: clamp(125px, 12.5vh, 12.5vh);
    border: 5px solid black;
    padding: 10px;
    font-family: 'InBetween';
    font-size: clamp(20px, 3vw, 40px);
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.doneCard {
    color: black;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 clamp(40px, 7vw, 60px) rgb(178, 60, 60);
    border: 10px solid rgb(178, 60, 60);
    font-size: clamp(20px, 13vw, 80px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'InBetween';
    width: clamp(300px, 30vw, 30vw);
    height: clamp(150px, 15vh, 15vh);
}

.time {
    color: rgb(178, 60, 60);
    font-size: clamp(60px, 8vw, 80px);
    text-align: center;
    font-family: 'InBetween';
}

.alreadyPlayed {
    font-size: clamp(40px, 5vw, 60px);
    font-family: 'InBetween';
    color: black;
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
    border-color: rgb(131, 131, 131);
    padding: 2vw;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.tooltip {
    justify-content: center;
    font-size: clamp(20px, 2vw, 2vw);
    padding-top: 1vh;
}

.countdown {
    font-size: clamp(30px, 3vw, 30px);
    font-family: 'InBetween';
    color: rgb(195, 88, 195);
    text-align: center;
    padding-top: 1vh;
}

.playButton{
    font-size: clamp(40px, 5vw, 60px);
    font-family: 'InBetween';
    color: black;
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
    border-color: rgb(195, 88, 195);
    padding: 2vw;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.rulesButton {
    font-size: clamp(40px, 5vw, 60px);
    font-family: 'InBetween';
    color: black;
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    background-color: rgb(255, 255, 255);
    border-color: rgb(195, 88, 195);
    padding: 2vw;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.backButton {
    font-size: clamp(30px, 3vw, 50px);
    color: black;
    font-family: 'InBetween';
    border-radius: clamp(50px, 6vw, 6vw);
    border-width: 5px;
    border-style: outset;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    background-color: rgb(255, 255, 255);
    border-color: black;
    padding: 10px;
    padding-left: 2vw;
    padding-right: 2vw;
    display: inline-block;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.hint {
    width: clamp(200px, 30vw, 30vw);
    height: clamp(300px, 40vh, 40vh);
    border: 5px solid black;
    padding: 10px;
    font-family: 'InBetween';
    font-size: clamp(20px, 2vw, 2vw);
    background-color: white;
    color: black;
    border-radius: clamp(50px, 6vw, 6vw);
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    position: fixed;
    box-sizing: border-box;
    transform: translateY(25%);
    transition: opacity 0.5s ease, height 0.5s ease;
}

.hint.hidden {
    opacity: 0;
    height: 0;
    padding: 0;
}

.dismissButton {
    font-size: clamp(20px, 2vw, 2vw);
    font-family: "InBetween";
    border-color: rgb(195, 88, 195);
    border-width: 5px;
    border-style: outset;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: clamp(50px, 6vw, 6vw);
    cursor: pointer;
    margin-top: 20px;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.tutorialForm {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 2s ease-in 1s forwards;
}

.leftSlide {
    animation: leftSlide 1s;
}

.rightSlide {
    animation: rightSlide 1s;
}

.topSlide {
    animation: topSlide 1s;
}

table {
    width: 60%; /* Center 60% width */
    margin: 0 auto; /* Automatically add 20% margin on left and right */
    border-collapse: collapse; /* Avoid double borders */
    table-layout: auto; /* Allow rows to adjust based on content */
    word-wrap: break-word; /* Wrap text for long values */
    overflow-wrap: break-word; /* Ensure content wraps properly */
    border: 1px solid #ccc; /* Add a border around the table */
    font-family: Arial, sans-serif; /* Use a clean font */
}

th, td {
    padding: 15px; /* Add space inside cells */
    text-align: left; /* Align text to the left */
    vertical-align: top; /* Ensure multi-line content aligns properly */
}

th {
    background-color: #f4f4f4; /* Light background for header column */
    width: 30%; /* Take up 30% width for header column */
    font-weight: bold; /* Bold text for headers */
    border-right: 1px solid #ccc; /* Separate header column from values */
}

td {
    width: 70%; /* Take up 70% width for value column */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Keep odd rows white */
}

table, th, td {
    border: 1px solid #ccc; /* Uniform border for table and cells */
    box-sizing: border-box; /* Prevent padding from affecting cell size */
}

.clueUpdate {
    display: flex;
    align-self: center;
    width: 80%;
    height: 20vh;
    font-family: 'InBetween';
    font-size: 4vw;
    border: solid black 4px;
    border-radius: 10px;
    margin-bottom: 10px;
    resize: vertical;
    padding: 3px;
}

.levelGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensure four squares per row */
    gap: 5vw;
    justify-items: center;
    align-items: center;
    width: 70%; /* Take up 60% of the screen width */
    margin: 0 auto; /* Center the grid horizontally */
}

.newlevelCard, .completedLevelCard {
    width: 12vw; 
    height: 12vw;
    color: black;
    text-decoration: none;
    border: 1vw solid black;
    padding: 2vw;
    font-family: 'InBetween';
    font-size: 8vw;
    background-color: white;
    border-radius: 5vw; /* Slightly rounded corners */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer; /* Indicate that the div is clickable */
}

.newlevelCard:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.completedLevelCard {
    border: 5px solid rgb(91, 255, 107);
    color: rgb(91, 255, 107);
    animation: glowing 1.5s infinite alternate;
    pointer-events: none; /* Disable pointer events for completed levels */
}

@keyframes topSlide {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes gotIt {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes leftSlide {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rightSlide {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 0 rgb(91, 255, 107);
    }
    100% {
        box-shadow: 0 0 60px rgb(91, 255, 107);
    }
}