{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="rules">
        <h1 class="doneCard topSlide" id="borderCycle">Archive</h1>
    </div>

    <div class="title">
        <h1 class="clue1">Explore </h1>
        <h1 class="in_between">Every </h1>
        <h1 class="clue2">Puzzle</h1>
    </div>

    {% if levels %}
    <div class="levelGrid">
        {% for level in levels %}
            {% if user_levels.get(level) == True %}
                <div class="completedLevelCard">
                    {{ level }}
                </div>
            {% else %}
                <a href="/level/{{ level }}" class="newlevelCard">
                    {{ level }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No levels found in the archive.</p>
{% endif %}

    <div class="parent">
        <button class="backButton" name="button" onclick="window.location.href='/'">Back</button>
    </div>

{% endblock %}