{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="rules">
        <h1 class="doneCard topSlide" id="borderCycle">Rules!</h1>
    </div>

    {% if levels %}
        <div class="levelGrid">
            {% for level in levels %}
                {% if user_levels.get(level) == True %}
                    <div class="completedLevelCard">
                        <a href="/archive/{{level}}">{{ level }}</a>
                    </div>
                {% else %}
                    <div class="newLevelCard">
                        <a href="/archive/{{level}}">{{ level }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No levels found in the archive.</p>
    {% endif %}

    <div class="parent">
        <button class="backButton" name="button" onclick="window.location.href='/'">Back</button>
    </div>

{% endblock %}