<!DOCTYPE html>
<html lang="en">
<head>
    <title>In + Betweens</title>
    <meta name="description" content="A game of quick word association, with new clues every Sunday!">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">

    <meta property="og:title" content="In + Betweens">
    <meta property="og:description" content="A game of quick word association!">
    <meta property="og:image" content="{{ url_for('static', filename='favicon.png') }}">
    <meta property="og:url" content="https://www.inbetweens.site/">
    <meta property="og:type" content="website">

    <script src="{{ url_for('static', filename='script/shadows.js') }}" defer></script>
    <script src="{{ url_for('static', filename='script/scaleText.js') }}" defer></script>

    {% block head %}{% endblock %}
</head>
<body>
    {% if session.get('admin') %}
        <nav class="admin-navbar">
            <div class="nav-brand">In + Betweens Admin (Hi Anna ❤️)</div>
            <div class="nav-links">
                <a href="{{ url_for('main.dashboard') }}" class="nav-item">Dashboard</a>
                <a href="{{ url_for('main.create_puzzle') }}" class="nav-item">Create</a>
                <a href="{{ url_for('main.view_queue') }}" class="nav-item">Queue</a>
                <a href="{{ url_for('main.view_archive') }}" class="nav-item">Archive</a>
                <a href="{{ url_for('main.title') }}" class="nav-item">Play</a>
            </div>
            <div class="nav-logout">
                <a href="{{ url_for('main.logout') }}">Logout</a>
            </div>
        </nav>
    {% endif %}

    {% block body %}{% endblock %}
</body>
</html>