{% extends 'base.html' %}

{% block head %}

<script src="static/script/textCycle.js" defer></script>
<script src="static/script/shareButton.js" defer></script>
<script src="static/script/borderCycle.js" defer></script>

{% endblock %}

{% block body %}

<div class="congrats">
    <h1 class="doneCard topSlide" id="borderCycle">Done!</h1>
    <p class="subtitle leftSlide">Your time was...</p>
    <p class="time rightSlide" name="textCycle">{{ time }}s</p>
    <div class="mainButtons">
        <button class="playButton fadeIn" name="button" onclick="window.location.href='/'">Home</button>
        <button class="rulesButton fadeIn" name="button" id="shareButton">Share</button>
    </div>
</div>
   
{% endblock %}