{% extends 'base.html' %}

{% block body %}
<div class="update-container">
    <h1>Create New Puzzle</h1>
    
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <div class="clues">
           <textarea name="clue1" class="clueUpdate" placeholder="Enter Clue 1"></textarea>
           <textarea name="clue2" class="clueUpdate" placeholder="Enter Clue 2"></textarea>
        </div>

        <div class="answers">
           <textarea name="answer1" class="answerUpdate" placeholder="Answer 1"></textarea>
           <textarea name="in_between" class="answerUpdate" placeholder="In-Between"></textarea>
           <textarea name="answer2" class="answerUpdate" placeholder="Answer 2"></textarea>
        </div>
        
        <div class="dropdown-container">
            <label for="destination">Destination:</label>
            <select name="destination" id="destination">
                <option value="queue">Add to Queue (Recommended)</option>
                <option value="update">Staging (Next Sunday)</option>
                <option value="archive">Archive (History)</option>
            </select>
        </div>

        <button type="submit" class="submit-btn">Submit Puzzle</button>
    </form>
</div>
{% endblock %}