{% extends 'base.html' %}

{% block body %}
<div class="update-container">
    <div class="title">
        <h1>Create New Puzzle</h1>
    </div>
    
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        
        <div class="clues">
           <textarea name="clue1" class="clueUpdate" placeholder="Enter Clue 1"></textarea>
           <textarea name="clue2" class="clueUpdate" placeholder="Enter Clue 2"></textarea>
        </div>

        <!-- Editable Answers -->
        <p><input type="text" name="answer1" class="clue1" placeholder="Answer 1" value="{{ answer1 }}"></p>
        <p><input type="text" name="in_between" class="in_between" placeholder="In-Between" value="{{ in_between }}"></p>
        <p><input type="text" name="answer2" class="clue2" placeholder="Answer 2" value="{{ answer2 }}"></p>
        
        <div class="dropdown-container">
            <select name="submit_action" id="destination" class="rounded-dropdown" required>
                <option value="" disabled selected hidden>Destination</option>

                <option value="queue">Add to Queue (Recommended)</option>
                <option value="update">Staging (Next Sunday)</option>
                <option value="archive">Archive (New Level)</option>
            </select>
        </div>
        <div class="parent">
            <button type="submit" class="submit" name="button">Submit Puzzle</button>
        </div>
    </form>
</div>
{% endblock %}