{% extends 'base.html' %}

{% block head %}

<script src="static/script/borderCycle.js" defer></script>
<script src="static/script/ruleSteps.js" defer></script>

{% endblock %}

{% block body %}
    <div class="rules">
        <h1 class="doneCard topSlide" id="borderCycle">Rules!</h1>
    </div>

    <div class="example-section">
        <div id="step1" class="step active">
            <p class="rulesText">Each puzzle has two clues:</p>

            <div class="clues">
                <div class="exampleClue clue1" id="clueBox">What an optimist sees (3)</div>
                <div class="in_between plus" id="clueBox">+</div>
                <div class="exampleClue clue2" id="clueBox">John Stamos hit show (2)</div>
            </div>
            
            <p class="rulesText">And each clue leads to a phrase:</p>
            
            <div class="clues">
                <div class="clue1 rulesHeading">Glass Half Full</div>
                <div class="in_between rulesHeading">+</div>
                <div class="clue2 rulesHeading">Full House</div>
            </div>

            <p class="rulesText">The <strong>(number)</strong> in each clue indicates the number of words in each phrase</p>"
        </div>
        
        <div id="step2" class="step">
            <p class="rulesText">The two phrases share <strong>one word</strong> in the middle - this is the <strong>"In-Between"</strong></p>
            
            <div class="clues">
                <div class="clue1 rulesHeading">Glass Half</div>
                <div class="in_between rulesHeading">Full</div>
                <div class="clue2 rulesHeading">House</div>
            </div>
        </div>
        
        <div id="step3" class="step">
            <p class="rulesText">Answers are entered in the three boxes like this:</p>
            
            <form id="game-form" class="tutorialForm">
                <p>
                    <input type="text" autocomplete="off" class="clue1 exInput" name="answer1" placeholder="Clue 1" value="Glass half" readonly>
                </p>
                <p style="padding: 1vw;">
                    <input type="text" autocomplete="off" class="in_between exInput" name="in_between" placeholder="In-Between" value="Full" readonly>
                </p>
                <p>
                    <input type="text" autocomplete="off" class="clue2 exInput" name="answer2" placeholder="Clue 2" value="House" readonly>
                </p>
            </form>
            
            <p class="rulesText">New puzzles every Sunday, or try past puzzles in the Archive! Try to solve them as fast as you can - <strong>you're on the clock!</strong></p>
        </div>
        
        <div id="step-navigation">
            <button id="prev-btn" class="navButton">Previous</button>
            <button id="next-btn" class="navButton">Next</button>
        </div>
    </div>

    <div class="rules">
        <button class="backButton" name="button" onclick="window.location.href='/'">Back</button>
    </div>
{% endblock %}