{% extends 'base.html' %}

{% block head %}
    <script src="static/script/shareButton.js" defer></script>
    <script src="static/script/countdown.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>
{% endblock %}

{% block body %}
    <div class="title">
        <h2 class="clue1 leftSlide">In </h2>
        <h2 class="in_between fadeIn">+ </h2>
        <h2 class="clue2 rightSlide">Betweens</h2>

        <div class="times">
            <div class="clue leftSlide">
                <span class="in_between">Today's Time:</span><span id="time">{{ time_today }}</span>
            </div>
            <div class="clue rightSlide">
                <span class="in_between">Average Time:</span> {{ average_time }}
            </div>
        </div>

        <div class="mainButtons">
            {% if playable %}
                <button class="playButton" id="play" name="button" onclick="window.location.href='/resume'">Play</button>
            {% else %}
                <button class="rulesButton" name="button" id="shareButton">Share</button>
            {% endif %}
            <button class="rulesButton" id="rules" name="button" onclick="window.location.href='/rules'">Rules</button>
            <button class="rulesButton" id="archive" name="button" onclick="window.location.href='/archive'">Archive</button>
        </div>

        {% if not playable %}
            <div class="tooltip">Next Puzzle In:</div>
            <div class="countdown">
                <span id="countdown"></span>
            </div>
        {% endif %}

        <div class="shoutout">Created by Charlie Adorney & Anna Dewey</div>
        
    </div>
{% endblock %}  