{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="title">
        <h2 class="clue1 leftSlide">In </h2>
        <h2 class="in_between fadeIn">+ </h2>
        <h2 class="clue2 rightSlide">Betweens</h2>

        <div class="subtitle">
            <p class="titleLeft">By Charlie</p><p class="titleRight"> & Anna</p>
        </div>

        <div class="times">
            <div class="clue leftSlide">
                <span class="in_between">Today's Time:</span>{{ time_today }}
            </div>
            <div class="clue rightSlide">
                <span class="in_between">Average Time:</span> {{ average_time }}
            </div>
        </div>

        <div class="mainButtons">
            {% if playable %}
                <button class="playButton" id="play" name="button" onclick="window.location.href='/resume'">Play</button>
            {% else %}
                <button class="alreadyPlayed" name="button" disabled>Play</button>
            {% endif %}
            <button class="rulesButton" id="rules" name="button" onclick="window.location.href='/rules'">Rules</button>
        </div>

        {% if not playable %}<div class="tooltip">Already Played Today!</div>{% endif %}
        
    </div>
{% endblock %}  